.selected {
  transform: scale(1.5);
  opacity: 0;
}
.dismis {
  /* transform: translateY(250px); */
  opacity: 0;
}
.question{
  opacity: 0;
}
.button-container {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.question-container {
  transition: transform 0.5s ease, opacity 1.5s ease;
}
